.service-text-container span,
.service-text-container h2,
.service-description-container a {
  text-transform: uppercase;
}

.service-text-container h2 {
  font-size: 5rem;
  font-weight: 600;
}

.service-text-container {
  position: relative;
}

.service-text-container span {
  color: #bb2d3b;
  font-weight: 500;
  font-size: 1.5rem;
  position: absolute;
  left: 150px;
  top: -10px;
}

.service-description-container {
  margin-top: 3rem;
  padding: 0 2rem;
  font-size: 1rem;
  color: #8f8f8f;
}

.service-description-container a {
  color: #bb2d3b;
}

@media screen and (max-width: 1000px) {
  .service-text-container span {
    left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .service-text-container span {
    left: 100px;
  }
}

@media screen and (max-width: 500px) {
  .service-text-container span {
    left: 20px;
    font-size: 1rem;
  }

  .service-text-container h2 {
    font-size: 3.5rem;
  }
}
